html{
    background: rgb(25,22,65);
    background: linear-gradient(297deg, rgba(25,22,65,1) 0%, rgba(78,78,162,1) 17%, rgba(0,11,13,1) 100%);
    color:whitesmoke;
}
p, h1{
    line-height:1.4em;
    letter-spacing:1px;
}

#img{
    margin:0 auto;
    width:250px;
    height:300px;
}

#img2{
    margin:0 auto;
    width:380px;
    height:280px;
}

div{
    height:600px;
}

p{
    font-weight:bold;
    font-size:22px;
}
h1{
    margin-top:200px;
}

h2{
    margin-top:100px;
}

button{
    font-weight:bolder;
    font-size:18px;
    width:200px;
    height:50px;
    background-color:whitemoke;
    color:grey;
}

button:hover{
    background-color:grey;
    color:whitesmoke;
}